* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

main {
  position: relative;
}

.background {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../assets/img.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: -1;
  min-height: calc(100vh - 32px);
  height: 100%;
}

nav {
  background-color: black;
  color: white;
}

nav a {
  color: white;
}

nav .flex {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 50px 0;
}

header h1 {
  text-align: center;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}

section.search {
  padding: 25px 0;
}

section.search .container form {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.search .container input[type="text"] {
  max-width: 532px;
  height: 44px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}

section.results .container {
  display: flex;
  justify-content: center;
}

section.results .container .box {
  max-width: 532px;
  width: 100%;
}

section.results .container .box h3 {
  color: white;
  font-size: smaller;
}

section.results .container .box .results {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

section.results .container .box .result {
  width: calc((100% - 20px) / 3);
  height: 133px;
  border-radius: 5px;
  backdrop-filter: blur(200 px);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  gap: 5px;
  padding: 16px;
}

section.results .container .box .result svg {
  width: 32px;
  height: 32px;
}

section.results .container .box .result .temp {
  font-size: 30px;
  transform: translateY(-10px);
}

@media (max-width: 670px) {
  section.results .container .box .results {
    flex-direction: column;
  }

  section.results .container .box .result {
    width: 100%;
    height: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  section.results .container .box .result svg {
    transform: translateY(5px);
  }

  section.results .container .box .result .other-temp {
    display: none;
  }
}

@media (max-width: 300px) {
  section.results .container .box .result svg {
    display: none;
  }
}

#alert .container {
  width: 100%;
  justify-content: center;
  display: flex;
}
#alert .container .note {
  border-radius: 5px;
  padding: 0 10px;
  max-width: 532px;
  width: 100%;
  height: 44px;
  background-color: rgba(165, 42, 42, 0.493);
  border: solid 1px red;
  color: white;
  align-items: center;
  display: none;
}
